<template>
<div class="container mx-auto p-1">
    <div>
        <div class="flex-flex-wrap mb-5">
            <button 
                @click="payBook()"
                class="focus:outline-none mb-2 text-sm md:w-20 md:mr-3 w-full text-white bg-primary py-2 px-5 rounded-md"
            >	
                Pay
            </button>
            <button 
                v-if="$parent.status"
                @click="refundBook()"
                class="focus:outline-none text-sm md:w-24 w-full text-white bg-primary py-2 px-5 rounded-md"
            >	
                Refund
            </button>
        </div>
        
        <p class="font-serif w-full text-md mb-2 mt-5">
            Passenger
        </p>

        <div class="mt-3">
            <div class="flex flex-wrap">
                <p class="font-serif md:w-1/5 w-full text-sm mb-1">
                    Name
                </p>
                <div 
                    v-if="checkSuccess"
                    class="text-xs md:3/5 w-full text-gray-500 w-full md:w-4/5 md:text-right"
                >
                    <span class="font-bold">
                        {{ passenger.name }}
                    </span>&nbsp;checked in successfully
                    <span v-if="extra">and paid 
                    <span class="font-bold">
                        ${{ extra }}.
                    </span>&nbsp;for extrabaggage..</span>
                </div>
            </div>
            <input 
                type="text" 
                id="name" 
                name="name" 
                v-model="name"
                class="outline-none rounded-lg w-full mb-1"
            >
            <p v-if="errorPass" class="w-full text-xs text-error mb-2">
                {{ errorPass }}
            </p>
        </div>
        <div class="mt-3">
            <div class="flex flex-wrap">
                <p class="font-serif md:w-1/5 w-full text-sm mb-1">
                    Baggage
                </p>
                <div 
                    v-if="$parent.$refs.select && $parent.$refs.select.checkDepart"
                    class="text-xs mt-1 md:3/5 w-full text-gray-500 w-full md:w-4/5 md:text-right"
                >
                    Flight
                    <span class="font-bold">
                        {{ $parent.$refs.select.selected.flightCode }}
                    </span>&nbsp;has departed with
                    <span class="font-bold">
                        {{ $parent.$refs.select.passengersInFlight }}
                    </span>&nbsp;passengers, and
                    <span class="font-bold">
                        {{ $parent.$refs.select.emptySeats }}
                    </span>
                    empty seats
                </div>
            </div>
            <input 
                type="text" 
                id="baggage" 
                name="baggage" 
                v-model="inputBaggage"
                class="outline-none rounded-lg w-full mb-2"
            >
            <p v-if="error" class="text-error text-xs mb-3">{{ error }}</p>
            <div class="flex flex-wrap mb-5">
                <button 
                    @click="checkin()"
                    class="focus:outline-none mb-2 md:mr-3 mt-2 w-full md:w-1/5 text-sm text-white bg-primary py-2 px-5 rounded-md"
                >	
                    Check-in
                </button>
                <button 
                    @click="checkDepart()"
                    class="focus:outline-none mb-2 mt-2 w-full md:w-1/5 text-sm text-white bg-primary py-2 px-5 rounded-md"
                >	
                    Depart
                </button>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default ({
    
    data() {
        return {
            passenger: {
                name: 'Prasetyo',
                age: 28
            },
            inputBaggage: '',
            error: '',
            extra: 0,
            checkSuccess: false,
            name: '',
            errorPass: ''
        }
    },
    methods: {
        payBook() {
            var data = this.$parent.$refs.classTicket.class;
            data.passenger = this.passenger;
            data.status = 'paid';
            this.error = '';
            this.$parent.$refs.classTicket.class = data;
            this.$parent.status = true;
        },
        refundBook() {
            var data = this.$parent.$refs.classTicket.class;
            data.status = 'canceled';
            this.$parent.refund = true;
        },
        checkin() {
            var data = this.$parent.$refs.classTicket.class;
            if((data.passenger.name).toLowerCase() !== (this.name).toLowerCase()) {
                this.errorPass = `Only ${this.passenger.name} can check in with this ticket.`
            }else {
                if(data.status === 'paid') {
                    data.status = 'checked-in';
                    if(this.inputBaggage > data.freeBaggage) {
                        this.extra = (Number(this.inputBaggage) - data.freeBaggage)*data.extraBaggageFee;
                    } else {
                        this.$parent.$refs.classTicket.class = data;
                        this.extra = '';
                    }
                    this.checkSuccess = true;
                    this.error = '';
                    this.errorPass = '';
                    alert(`${this.passenger.name} already checked in before.`);
                } else {
                    this.checkSuccess = false;
                    this.error = `Oh sorry, ${this.passenger.name} did not pay the ticket yet.`
                }
            }
        },
        checkDepart() {
            this.$parent.$refs.select.depart();
        }
    }
});
</script>