<template>
<div></div>
</template>
<script>
export default ({
    data() {
        return {
            bookingCode: '',
            passenger: null,
            status: 'booked',
            price: 200,
            freeBaggage: 0,
            extraBaggageFee: 10,
        }
    },
    created() {
        this.generateBookCode(5);
    },
    methods: {
        generateBookCode(length) {
            var result           = 'Y';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * 
                charactersLength));
            }
            this.bookingCode = result;
        }
    }
});
</script>