<template>
    <div>
        <p v-if="!checking" class="text-error text-xs">Invalid flight for {{ $parent.selectName }}</p>
        <Economy ref="economy" />
        <First ref="first" />
        <Business ref="business" />
    </div>
</template>
<script>
import Economy from "./Economy.vue";
import First from "./First.vue";
import Business from "./Business.vue";

export default ({
    components: {
		Economy,
		First,
        Business,
	},
    data() {
        return {
            checking: true,
            dropdownOpen: false,
            class: null,
            tiketClass: [
				{
					name: 'Economy Class',
					value: 'economy'
				},
				{
					name: 'Business Class',
					value: 'business'
				},
				{
					name: 'First Class',
					value: 'first'
				}
            ]
        }
    },
    methods: {
        checkTicket(val, value) {
            this.checking = val.tickets.find(e => e.class === value.value);
            if(this.checking) {
                this.class = {
                    bookingCode: this.$refs[value.value].bookingCode,
                    passenger: null,
                    status: this.$refs[value.value].status,
                    price: this.$refs[value.value].price,
                    freeBaggage: this.$refs[value.value].freeBaggage,
                    extraBaggageFee: this.$refs[value.value].extraBaggageFee,
                }
            } else {
                this.class = null;
            }
        }
    }
});
</script>