<template>
<div class="container mx-auto p-1">
    <div class="my-4">
        <div>
            <div class="flex flex-wrap my-12 justify-center">
				<span class="mr-5 font-serif text-4xl text-center">Select Airlines</span>
            </div>
			<div class="md:w-1/2 w-full m-auto justify-center mb-2">
				<div class="flex flex-wrap">
					<p class="font-serif w-full md:w-36 text-md md:mb-2">
						Select Airlines
					</p>
					<div 
						v-if="$refs.select && $refs.select.selected" 
						class="md:ml-auto mt-1 text-xs text-gray-500 mb-3 md:mb-0"
					>
						Flight&nbsp;
						<span class="font-bold">
							{{ $refs.select.selected.flightCode }}
						</span>&nbsp;added to&nbsp;
						<span class="font-bold">
							{{ selectedFlight.name }}
						</span>
					</div>
					<Flight ref="select" />
				</div>
				<input 
					type="text" 
					id="flight" 
					name="flight" 
					v-model="selectName"
					class="outline-none rounded-lg w-full"
					@focus="dropdownOpen = true"
				>
				<div v-if="dropdownOpen" class="w-full bg-white rounded-lg py-3 border border-gray-500">
					<div 
						v-for="(item, index) in airPlane" 
						:key="index" 
					>
						<p 
							class="px-5 py-2 hover:bg-gray-800 hover:text-white" 
							v-for="(flight, i) in item.flights" 
							:key="i" 
							@click="addFlight(item, flight)"
						>
							{{ `${item.name} ${flight.route}` }}
						</p>
					</div>
				</div>
			</div>
        </div>
		<div class="md:w-1/2 w-full m-auto justify-center mb-2 mt-10">
			<div class="flex flex-wrap">
				<p class="font-serif w-full md:w-28 text-md md:mb-2">
					Select Class
				</p>
				<div v-if="!refund" class="md:ml-auto md:mb-0 mb-3">
					<div 
						v-if="!status && selectTiket && $refs.classTicket.class && $refs.passenger.passenger" 
						class="mt-1 text-xs text-gray-500"
					>
						Booking code&nbsp;
						<span class="font-bold">
							{{ $refs.classTicket.class.bookingCode }}
						</span>&nbsp;is issued for&nbsp;
						<span class="font-bold">
							{{ $refs.passenger.passenger.name }}.&nbsp;
						</span>Please pay in 24 hours.&nbsp;
					</div>
					<div v-if="status" class="mt-1 text-xs text-gray-500">
						<span class="font-bold">
							{{ $refs.passenger.passenger.name }}
						</span>&nbsp;paid the ticket with booking code&nbsp;
						<span class="font-bold">
							{{ $refs.classTicket.class.bookingCode }}.
						</span>
					</div>
				</div>
				<div v-else class="mt-1 ml-auto text-xs text-gray-500">
					${{ this.$refs.classTicket.class.price }} has been
					transfered back to {{ this.$refs.classTicket.class.passenger.name }} bank account.
				</div>
			</div>
			<input 
				type="text" 
				id="classTiket" 
				name="classTiket" 
				:disabled="!selectedFlight"
				v-model="selectTiket"
				class="outline-none rounded-lg w-full"
				@focus="dropdownOpenClass = true"
			>
			<div v-if="dropdownOpenClass" class="w-full bg-white rounded-lg py-3 border border-gray-500">
				<div 
					v-for="(item, index) in $refs.classTicket.tiketClass" 
					:key="index" 
					@click="issueTicket(item)"
				>
					<p 
						class="px-5 py-2 hover:bg-gray-800 hover:text-white" 
					>
						{{ item.name }}
					</p>
				</div>
			</div>
			<Tiket class="mt-2 mb-3" ref="classTicket" />
			<Passengers class="ml-auto" ref="passenger" />
		</div>
    </div>
</div>
</template>
<script>
import Flight from "../components/Flights.vue";
import Tiket from "../components/Tiket/index.vue";
import Passengers from "../components/Passengers/index.vue"

export default ({
	components: {
		Flight,
		Tiket,
		Passengers
	},
	data() {
		return {
			dropdownOpen: false,
			status: false,
			refund: false,
			dropdownOpenClass: false,
			selectedFlight: null,
			selectName: '',
			selectTiket: '',
			airPlane: [
				{
					name:'Garuda Indonesia',
					flights: [
						{
							name: 'Boeing 737',
							route: '(Jakarta - Bali)',
							flightCode: 123456,
						},
						{
							name: 'Boeing 738',
							route: '(Jakarta - Padang)',
							flightCode: 789101,
						},
					]
				},
				{
					name:'Lion Air',
					flights: [
						{
							name: 'Boeing 739',
							route: '(Jakarta - Makasar)',
							flightCode: 145634,
						},
						{
							name: 'Boeing 740',
							route: '(Jakarta - Surabaya)',
							flightCode: 345678,
						},
					]
				}
			],
		}
	},
	methods: {
		addFlight(val, value) {
			this.dropdownOpen = false;
			this.selectedFlight = val;
			this.selectName = `${val.name} ${value.route}`;
			this.$refs.select.inputFlight(value);
		},
		issueTicket(value) {
			this.selectTiket = value.name;
			this.$refs.classTicket.checkTicket(this.$refs.select.selected, value);
			this.dropdownOpenClass = false;
		}
	}
});
</script>