<template>
<div class="container mx-auto p-1">
    <div class="my-4">
        <div>
            <div class="flex flex-wrap my-12 justify-center">
				<span class="mr-5 font-serif text-4xl text-center">Keyword Searching</span>
            </div>
			<div class="md:w-2/3 w-full m-auto justify-center mb-2">
				<div class="font-serif w-full text-sm">
					<p class="my-2">
						Text for test case Release 0 & Release 1 : <br>
						<span class="font-serif w-full text-xs text-gray-500 italic">
							"At home I have a cat and dog the cat named Tom and the dog named Dog. My cat and dog are so cute"
						</span>
					</p>
					<p class="mt-2 mb-5">
						Text for test case Release 2 : <br>
						<span class="font-serif w-full text-xs text-gray-500 italic">
							1. At home I have a cat and dog the cat named Tom and the dog named Dog. My cat and dog are so cute. <br>
							2. Sometimes Tom ate dog food and because of that the Dog was very angry and chased after Tom. <br>
							3. When a dog chases Tom, it looks funny like a classic cat and dog story. <br>
							4. Tom is a ignorant cat and a dog is a calm animal. When Tom with other cats are like the king of cats. <br>
							5. Dog are usually quiet except when it comes to food <br>
						</span>
					</p>
					Search Keyword : 
				</div>
				<input 
					type="text" 
					id="flight" 
					name="flight" 
					v-model="inputName"
					class="outline-none rounded-lg w-full my-2"
					@focus="done = false"
				>

				<button 
					@click="Keywordsearching()"
					:disabled="!inputName"
					class="mb-5 md:w-24 w-full text-sm text-white bg-primary py-2 px-5 rounded-md"
				>	
					Submit
				</button>

				<div class="font-serif w-full text-sm">
					<p class="mb-2">Result : </p>
					<p v-if="done && result1">
						Release 0 =>
						<span class="font-serif w-full text-xs text-gray-500">
							{{ result1 }}
						</span>
					</p>
					<p v-if="done && result2">
						Release 1 =>
						<span class="font-serif w-full text-xs text-gray-500">
							{{ result2 }}
						</span>
					</p>
					<p v-if="done && result3">
						Release 2 =>
						<span class="font-serif w-full text-xs text-gray-500">
							{{ result3 }}
						</span>
					</p>
				</div>
			</div>
        </div>
    </div>
</div>
</template>
<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const open = ref(false);
    const large = ref(false);
    const small = ref(false);
    return {
      open,
      large,
      small
    };
  },
  data() {
	  return {
		  done: false,
		  inputName: '',
		  result1: '',
		  result2: '',
		  result3: ''
	  }
  },
  methods: {
	Keywordsearching() {
		this.done = true;
		var text = "At home I have a cat and dog the cat named Tom and the dog named Dog. My cat and dog are so cute"
		// var text = "Tom is a ignorant cat and a dog is a calm animal. When Tom with other cats are like the king of cats"
		text = text.toLowerCase();
		
		// Release 0
		const keyword = this.getKeyWord(this.inputName);
		console.log(`Keyword Searching Release 0 =>`, keyword);
		this.result1 = JSON.stringify(keyword);

		//Release 1
		const search = this.searchInSentence(this.inputName, text);
		console.log(`Keyword Searching Release 1 =>`, search);
		this.result2 = search;

		//Release 2
		var textArray = [
			`At home I have a cat and dog the cat named Tom and the dog named Dog. My cat and dog are so cute`,
			`Sometimes Tom ate dog food and because of that the Dog was very angry and chased after Tom`,
			`When a dog chases Tom, it looks funny like a classic cat and dog story`,
			`Tom is a ignorant cat and a dog is a calm animal. When Tom with other cats are like the king of cats`,
			`Dog are usually quiet except when it comes to food`
		]
		const sortSearch = this.searchByKeyWord('cat and dog', textArray);
		console.log(`Keyword Searching Release 2 =>`, sortSearch);
		this.result3 = JSON.stringify(sortSearch);
	},
	getKeyWord(val) {
		var test = [];
		var data = '';
		var point = 0;
		for(var i = 0; i < val.split(" ").length; i++) {
			for(var j = 0; j < val.split(" ").length; j++) {
				data = val.split(" ").splice(i, (val.split(" ").length - j));
				point = data.length**2;
				data = (data.toString().replace(/,/g, ' '));
				const find = test.find(e => e.value === data);
				if(!find) {
					var valueObj = {value: data, points: point}
					test.push(valueObj);
				}
			}
			
		}
		test = test.sort((a, b) => b.points - a.points);
		var result = test.map(function(s) {
			return s.value;
		});
		return result;
	},
	searchInSentence(value1, value2) {
		var data = [];
		var text = value2;
		var words = this.getKeyWord(value1);
		for(var i = 0; i < words.length; i++) {
			data.push({ value: text.match(new RegExp(words[i], 'g')), point: words[i].split(" ").length});
			text = text.replaceAll(` ${words[i]}`,'');
		}
		var result = data.map(function(s) {
			var point = 0;
			if(s.value) {
				point = (s.point**2) * s.value.length;
			}
			return point;
		});
		result = result.reduce((a, b) => a + b, 0);
		return result;
	},
	searchByKeyWord(value1, value2) {
		var data = [];
		for(var i = 0; i < value2.length; i++) {
			data.push({ text: value2[i], point: (this.searchInSentence(value1, value2[i]))});
		}
		data = data.sort((a, b) => b.point - a.point);
		var result = data.map(function(s) {
			return s.text;
		});
		return result;
	}
  }
});
</script>