<template>
    <div>
    </div>
</template>
<script>
export default ({
    data() {
        return {
            selected: null,
            passengersInFlight: 0,
            emptySeats: 0,
            checkDepart: false,
            flights: [
                {
                    flightCode: 123456,
                    time: new Date(),
                    capacity: 100,
                    tickets: [
                        {
                            name: 'First Class',
                            class: 'first'
                        }
                    ]
                },
                {
                    flightCode: 789101,
                    time: new Date(),
                    capacity: 50,
                    tickets: [
                        {
                            name: 'Business Class',
                            class: 'business'
                        },
                    ]
                },
                {
                    flightCode: 145634,
                    time: new Date(),
                    capacity: 100,
                    tickets: [
                        {
                            name: 'Economy Class',
                            class: 'business'
                        },
                        {
                            name: 'Business Class',
                            class: 'business'
                        },
                    ]
                },
                {
                    flightCode: 345678,
                    time: new Date(),
                    capacity: 100,
                    tickets: [
                        {
                            name: 'Economy Class',
                            class: 'economy'
                        },
                    ]
                },
            ]
        }
    },
    methods: {
        inputFlight(value) {
            this.selected = this.flights.find(e => e.flightCode === value.flightCode);
        },
        depart() {
            var data = this.$parent.$refs.classTicket.class;
            if(data.status === 'checked-in') {
                this.passengersInFlight = 1;
            }
            this.emptySeats = this.selected.capacity - this.passengersInFlight;
            this.checkDepart = true;
        }
    }
});
</script>