<template>
  <div class="flex">
    <!-- Backdrop -->
    <div
      :class="isOpen ? 'block' : 'hidden'"
      @click="isOpen = false"
      class="fixed z-0 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
    ></div>
    <!-- End Backdrop -->

    <div
      :class="isOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
      class="fixed inset-y-0 left-0 w-64 transition duration-300 border-r-2 border-gray-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0"
    >
      <div class="flex items-center justify-center px-6 py-4">
        <div class="flex items-center">
          <img class="w-12 h-12" src="https://cdn.techinasia.com/data/images/SDaaNFCbXytjTnKTI3h6KqzO3B293Mf6D3ykWV8T.png" alt="">
        </div>
      </div>

      <nav class="mt-10">
        <router-link
          class="flex items-center duration-200 py-5 px-6"
          :class="[$route.name === 'index' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg 
            width="24" 
            height="24" 
            class="fill-current" 
            aria-labelledby="title desc"
            role="img" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 19.9 19.7">
            <title id="title">Search Icon</title>
              <desc id="desc">A magnifying glass icon.</desc>
              <g class="search-path" fill="none" stroke="#848F91">
                <path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/>
                <circle cx="8" cy="8" r="7"/>
              </g>
          </svg>


          <span class="mx-4">Keyword Searching</span>
        </router-link>

        <router-link
          class="flex items-center duration-200 py-5 px-6"
          :class="[$route.name === 'airlines' ? activeClass : inactiveClass]"
          to="/airlines"
        >
          <img width="24" height="24" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Airplane_silhouette_gray_40.svg/1920px-Airplane_silhouette_gray_40.svg.png" />


          <span class="mx-4">Airlines</span>
        </router-link>

        <router-link
          class="flex items-center duration-200 py-5 px-6"
          :class="[$route.name === 'simulation' ? activeClass : inactiveClass]"
          to="/simulation"
        >
          <img width="24" height="24" src="https://www.freeiconspng.com/thumbs/project-icon/project-icon-15.png" />


          <span class="mx-4">Project Simulation</span>
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useSidebar } from "../hooks/useSidebar";

export default defineComponent({
  setup() {
    const { isOpen } = useSidebar();
    const activeClass = ref(
      "bg-primary text-white border-gray-100"
    );
    const employeClassActive = ref(
      "bg-white text-primary border-gray-100"
    );
    const inactiveClass = ref(
      "border-gray-900 text-gray-500 hover:bg-primary hover:text-white"
    );
    const employeeInactiveClass = ref(
      "border-gray-900 text-gray-500 hover:bg-white hover:text-primary"
    );

    return {
      isOpen,
      activeClass,
      inactiveClass,
      employeeInactiveClass,
      employeClassActive
    };
  },
  data() {
    return {
      openEmployee: false,
    }
  },
});
</script>
