<template>
<div class="container mx-auto p-1">
  <div class="my-4">
    <div>
      <div class="flex flex-wrap my-12 justify-center">
        <span class="mr-5 font-serif text-4xl text-center">Project Simulation</span>
      </div>
      <div class="mx-auto justify-center align-center bg-white w-full md:w-96 px-5 py-8 rounded-xl">
        <div class="flex flex-wrap mb-6 justify-center">
          <span class="font-serif text-3xl text-center">Sign In</span>
        </div>
        <div class="mb-5">
          <label class="text-sm ml-1 mb-1">Email</label>
          <input
            type="text"
            class="mt-1 h-10 bg-transparent block w-full rounded-lg focus:border-primary border-gray-300 text-xs"
            v-model="email"
            placeholder="Input your email"
          />
        </div>
        <div>
          <label class="text-sm ml-1 mb-1">Password</label>
          <input
            type="text"
            class="mt-1 h-10 bg-transparent block w-full rounded-lg focus:border-primary border-gray-300 text-xs"
            v-model="email"
            placeholder="Input your password"
          />
        </div>
        <div class="w-full">
          <p class="text-xs font-serif text-right my-2">Forgot password?</p>
          <button class="bg-gray-800 md:w-auto w-full rounded-lg text-white px-5 py-2 focus:outline-none">
            Sign In
          </button>
        </div>
      </div>
    </div>
    </div>
</div>
</template>
<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const open = ref(false);
    const large = ref(false);
    const small = ref(false);
    return {
      open,
      large,
      small
    };
  },
  data() {
        return {
            email: '',
            password: '',
        }
  },
  methods: {
	login() {

    }
  }
});
</script>